
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">

  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Template Text</th>
      <th class="mdl-data-table__cell--non-numeric">File Path</th>
      <th class="mdl-data-table__cell--non-numeric">File Name</th>

      <th> <button id='row-edit-add' class="mdl-button mdl-js-button mdl-button--raised add" contenteditable="true">Add</button> </th>

    </tr>
  </thead>

  <tbody id='templates-table'>

    <tr id='row-add'>
      <td id='row-name-add' class="mdl-data-table__cell--non-numeric" contenteditable="true"></td>
      <td id='row-template-add' class="mdl-data-table__cell--non-numeric" contenteditable="true"></td>
      <td id='row-marker-add' class="mdl-data-table__cell--non-numeric markerrow" contenteditable="true"></td>
      <td id='row-snip-add' class="mdl-data-table__cell--non-numeric" contenteditable="true"></td>
      <td> <button id='row-add-save' class="mdl-button mdl-js-button mdl-button--raised addsave" contenteditable="true">Save</button> </td>
    </tr>

    {{#each templates}}

    <tr id='row-{{this.id}}'>
      <td id='row-name-{{this.id}}' class="mdl-data-table__cell--non-numeric">{{this.name}}</td>
      <td id='row-template-{{this.id}}' class="mdl-data-table__cell--non-numeric">{{this.text}}</td>
      <td id='row-marker-{{this.id}}' class="mdl-data-table__cell--non-numeric markerrow">{{this.path}}</td>
      <td id='row-snip-{{this.id}}' class="mdl-data-table__cell--non-numeric">{{this.filename}}</td>
      <td><button id='row-edit-{{this.id}}' class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored edit" value={{this.id}}>Edit</button>
      <button id='row-save-{{this.id}}' class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored save" value={{this.id}}>Save</button>
      <button id='row-cancel-{{this.id}}' class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored cancel" value={{this.id}}>Cancel</button>
      <button id='row-delete-{{this.id}}' class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored delete" value={{this.id}}>Delete</button></td>

    </tr>

    {{/each}}

  </tbody>
</table>



<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form id="cms">

    <h2>Create a New Template</h2>

      <div class="form-group">
        <label for="name">Name:</label>
        <input placeholder="Template Name" type="text" class="form-control" name="name" id="templateName">
        <br />
        <label for="text">Text:</label>
        <textarea placeholder="Template" class="form-control" rows="10" name="" id="templateText"></textarea>
        <br />
        <label for="marker">Path:</label>
        <input placeholder="Marker Tag" type="text" class="form-control" id="templatePath">
        <br />
        <label for="template">Filename:</label>
        <input placeholder="Template Type" type="text" class="form-control" id="templateFile">
        <br />
        <button type="submit" class="btn btn-success submit">Submit</button>
      </div>

      <a href=""><button class="btn btn-primary">See Snippets</button></a>

    </form>
  </div>
</div>
