
<div class="mdl-grid">



  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">

    <caption><h2>View Templates</h2></caption>

    <thead>

      <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <!-- <th class="mdl-data-table__cell--non-numeric">Text</th> -->
        <th class="mdl-data-table__cell--non-numeric">Path</th>
        <th class="mdl-data-table__cell--non-numeric">Filename</th>
        <td> <button id='row-edit-add' class="mdl-button mdl-js-button mdl-button--raised add">Add</button> </td>
      </tr>
    </thead>

    <tbody id='snippets-table'>

      {{#each templates}}

      <tr id='row-{{this.id}}'>
        <td id='temp-row-name-{{this.id}}' class="mdl-data-table__cell--non-numeric">{{this.name}}</td>
        <!-- <td id='temp-row-template-{{this.id}}' class="mdl-data-table__cell--non-numeric">{{this.text}}</td> -->
        <td id='temp-row-stack-{{this.id}}' class="mdl-data-table__cell--non-numeric">{{this.path}}</td>
        <td id='temp-row-category-{{this.id}}' class="mdl-data-table__cell--non-numeric">{{this.filename}}</td>
        <td><button id='temp-row-edit-{{this.id}}' class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored edit" value={{this.id}}>Edit</button>
        <button id='temp-row-delete-{{this.id}}' class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored delete" value={{this.id}}>Delete</button></td>

      </tr>

      {{/each}}

    </tbody>
  </table>

</div>
