<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="nav mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <div class="mdl-layout-spacer"></div>

            <span class="nav-title mdl-layout-title">BOILERPLATE</span>
            <!-- Add spacer, to align navigation to the right -->
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">BOILERPLATE</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Home</a>
            <div class="mdl-textfield">
                <span>Email</span><br>
                <input class="email2 mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
            </div>
            <div class="mdl-textfield">
                <span>Password</span><br>
                <input class="password2 mdl-textfield__input" type="password" name="sample" id="fixed-header-drawer-exp">
            </div>
            <a class="login2 mdl-navigation__link" href="#">Log In</a>
        </nav>
    </div>

<div class="mdl-grid">

  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">

    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Template</th>
        <th class="mdl-data-table__cell--non-numeric">Marker</th>
        <th class="mdl-data-table__cell--non-numeric">Snippet</th>
      </tr>
    </thead>

    <tbody id='snippets-table'>

      <tr id='row-add'>
        <td id='row-name-add' class="mdl-data-table__cell--non-numeric" contenteditable="true"></td>
        <td id='row-template-add' class="mdl-data-table__cell--non-numeric" contenteditable="true"></td>
        <td id='row-marker-add' class="mdl-data-table__cell--non-numeric markerrow" contenteditable="true"></td>
        <td id='row-snip-add' class="mdl-data-table__cell--non-numeric" contenteditable="true"></td>
        <td> <button id='row-edit-add' class="mdl-button mdl-js-button mdl-button--raised add" contenteditable="true">Add</button> </td>
      </tr>


      {{#each snippets}}

      <tr id='row-{{this.id}}'>
        <td id='row-name-{{this.id}}' class="mdl-data-table__cell--non-numeric">{{this.name}}</td>
        <td id='row-template-{{this.id}}' class="mdl-data-table__cell--non-numeric">{{this.template}}</td>
        <td id='row-marker-{{this.id}}' class="mdl-data-table__cell--non-numeric markerrow">{{this.marker}}</td>
        <td id='row-snip-{{this.id}}' class="mdl-data-table__cell--non-numeric">{{this.snippet_text}}</td>
        <td><button id='row-edit-{{this.id}}' class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored edit" value={{this.id}}>Edit</button>
        <button id='row-save-{{this.id}}' class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored save" value={{this.id}}>Save</button>
        <button id='row-cancel-{{this.id}}' class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored cancel" value={{this.id}}>Cancel</button>
        <button id='row-delete-{{this.id}}' class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored delete" value={{this.id}}>Delete</button></td>

      </tr>

      {{/each}}

    </tbody>
  </table>

</div>
</div>
